<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">

    <div th:replace="fragments/custom_navbar :: custom_navbar"></div>

    <!--CONTENT-->
    <h1 class="page-header">Versenyek</h1>
    <div class="col-lg 12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Név</td>
                <td>Helyszín</td>
                <td>Dátum</td>
                <td>Állomások</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">Lehetőségek</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comp: ${listOfCompetitions}">
                <td th:text="${comp.id}" id="competition_id"></td>
                <td th:text="${comp.name}" id="competition_name"></td>
                <td th:text="${comp.location}" id="competition_location"></td>
                <td th:text="${comp.dateOfEvent}" id="competition_date"></td>
                <td>
                    <a th:href=" '/station/' + ${comp.id}"> Részletek </a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#" id="edit_icon">
                        <span th:attr="data-comp_id=${comp.id}"  class="glyphicon glyphicon-pencil"
                              aria-hidden="true" data-toggle="modal"
                              data-target="#editCompetitionModal"></span>
                    </a>
                    <a th:href="@{'/competition/delete/' + ${comp.id}}">
                        <span id="bin_icon" class="glyphicon glyphicon-remove bin_icon" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal Window-->
    <div id="editCompetitionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" id="modal-header">Verseny szerkesztése</h2>

                </div>
                <form class="form-horizontal" th:action="@{/competition/edit}" th:object="${competition}" method="POST">
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Név</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input th:field="*{name}" maxlength="100" class="form-control" type="text" name="name" id="name"
                                       placeholder="Verseny neve" required="required"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-lg-2 control-label">Helyszín</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input th:field="*{location}" maxlength="100" class="form-control" type="text" name="location"
                                       id="location" placeholder="Verseny helyszíne" required="required"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-lg-2 control-label">Verseny dátuma</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input th:field="*{dateOfEvent}" class="form-control" type="date" name="date" id="date"
                                       placeholder="Verseny dátuma" required="required"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-lg-2 control-label">Verseny Azonosítója</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input th:field="*{id}" class="form-control" type="number" name="email" id="ID"
                                       placeholder="Verseny azonosítója" required="required" readonly="readonly"/>
                            </div>
                        </div>
                    </div>

                    <!--Buttons-->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" id="submit_competition" value="Mentés"/>
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Mégse"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/CompetitionEdit.js}" />
</body>
</html>
