<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> </head>

<body>
    <div class="container">
        <!--NAVBAR-->
        <div th:replace="fragments/custom_navbar :: custom_navbar"></div>
        <!--CONTENT-->
        <div>
            <form class="form-horizontal" th:action="@{/login}" method="POST">
                <fieldset>
                    <legend>Bejelentkezés</legend>
                    <div th:if="${param.error}" class="alert alert-error">
                        Érvénytelen felhasználónév vagy jelszó.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Már be volt jelentkezve.
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-lg-2 control-label">Felhasználónév</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználónév"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">Jelszó</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Bejelentkezés</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>