<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"> </head>
<body th:fragment="custom_navbar">

    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index"><img id="mvk_logo" th:src="@{/img/mvklogo.svg}" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Főoldal</a></li>
                    <li><a href="/registration">Regisztráció</a></li>
                    <li><a href="/competition/add">Verseny létrehozása</a></li>
                    <li><a href="/competition">Versenyek</a></li>
                    <li><a href="/station/add">Állomás létrehozása</a></li>
                    <li><a href="/station">Állomások</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAnonymous()"><a href="/login">Bejelentkezés</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/logout">Kijelentkezés</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</body>
</html>