/*init*/

#mvk_logo {
    height: 30px;
}

/*#fb_logo {*/
    /*padding: 5px 5px;*/
    /*height: 35px;*/
    /*width: 35px;*/
/*}*/

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e10000;
    background: #ffffff;
    background-image: none;
}

.dropdown-menu > li > a {
    color: #ffffff;
    background-color: #cd0000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #cd0000;
    background-color: #ffffff;
    background-image: none;
}

.dropdown:hover .dropdown-menu {
    color: #ffffff;
    background-color: #cd0000;
    display: block;
}
