<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/custom_navbar :: custom_navbar"></div>

    <!--CONTENT-->
    <div class="col-lg 12">
        <h1 class="page-header">Országos elsősegélynyújtó verseny</h1>
        <div>
            <p class="h3" style="padding-top: 10px; padding-bottom: 5px"><strong>A versenyről bővebben</strong></p>
            <p>A Magyar Vöröskereszt 1971 óta szervezi meg felmenő rendszerű elsősegélynyújtó versenyét, melynek célja
                az elsősegélynyújtó ismeretek fejlesztése, gyakorlása a fiatalok körében. A verseny három kategóriában
                zajlik (gyermek, ifjúsági, felnőtt) a területi döntő nyertesei jutnak be a megyei döntőbe és az ott jól
                szereplők vehetnek részt az országos döntőn. Az Országos Elsősegélynyújtó Verseny (OEV) döntőjének
                minden évben egy megyeszékhely belvárosa ad otthont, ahol a résztvevők – a baleseti imitátoroknak
                köszönhetően – élethű körülmények között versenyezhetnek. A 20 állomásos körpályán elméleti és
                gyakorlati elsősegélynyújtó ismereteikről adnak számot a versenyzők.</p>
        </div>
        <div>
            <p class="h3" style="padding-top: 10px; padding-bottom: 5px"><strong>A verseny célja</strong></p>
            <ul>
                <li>Az elsősegélynyújtás népszerűsítése és hatásos oktatása</li>
                <li>Az emberi segítőkészség és a humanitárius eszmék terjesztése</li>
                <li>A vöröskeresztes elsősegélynyújtók elméleti tudásának és gyakorlati ismereteinek fejlesztése</li>
            </ul>
        </div>
        <div>
            <p class="h3" style="padding-top: 10px; padding-bottom: 5px"><strong>Jelentkezés és további
                információk</strong></p>
            <div>
                <p>A Magyar Vöröskereszt területi-megyei szervezetei a nevezési határidőt, az első versenyforduló helyét
                    és időpontját külön hirdetményben teszik közzé.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
