<!DOCTYPE html>
<!--It's a html page, not thymeleaf!!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--Formatted theme-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_theme.css}" href="../../css/bootstrap_theme.css"/>

    <!--Custom style-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../css/style.css"/>

    <script th:src="@{/js/registrationValidation.js}" />

    <meta charset="UTF-8" name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Vöröskereszt</title>

</head>
<body>
<div class="container">

    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index"><img id="mvk_logo" th:src="@{/img/mvklogo.svg}" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Főoldal</a></li>
                    <li><a href="/registration">Regisztráció</a></li>
                    <li><a href="/competition/add">Verseny létrehozása</a></li>
                    <li><a href="/competition">Verseny adatok</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Other option</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--CONTENT-->
    <div class="col-lg 12">
        <div>
            <h1 class="header-title">Verseny létrehozása</h1>
        </div>

        <!--Form group-->
        <form class="form-horizontal" th:action="@{/competition/add}" th:object="${competition}" method="POST">
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Név</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input th:field="*{name}" maxlength="100" class="form-control" type="text" name="name" id="name" placeholder="Verseny neve" required="required"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="location" class="col-lg-2 control-label">Helyszín</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input th:field="*{location}" maxlength="100" class="form-control" type="text" name="location" id="location" placeholder="Verseny helyszíne" required="required"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-lg-2 control-label">Verseny dátuma</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input th:field="*{dateOfEvent}" class="form-control" type="date" name="email" id="date" placeholder="Verseny helyszíne" required="required"/>
                    </div>
                </div>
            </div>

            <!--Buttons-->
            <div class="form-group">
                <input type="submit" class="btn btn-success" id="submit_button" value="Létrehozás"/>
                <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" value="Mégse"/>
            </div>
        </form>

        <div class="col-lg-12">
            <a href="/index">
                <button class="btn btn-primary">Vissza a főoldalra</button>
            </a>
        </div>

        <!-- Modal Window-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modal-header">Biztos benne, hogy megszakítja a mentést?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="/index">
                            <button type="button" class="btn btn-danger">Igen</button>
                        </a>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Nem</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>