<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--Formatted theme-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_theme.css}" href="../../css/bootstrap_theme.css"/>

    <!--Custom style-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../css/style.css"/>

    <script th:src="@{/js/registrationValidation.js}" />

    <meta charset="UTF-8" name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Vöröskereszt</title>

</head>
<body th:fragment="custom_navbar">

    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index"><img id="mvk_logo" th:src="@{/img/mvklogo.svg}" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Főoldal</a></li>
                    <li><a href="/registration">Regisztráció</a></li>
                    <li><a href="/competition/add">Verseny létrehozása</a></li>
                    <li><a href="/competition">Versenyek</a></li>
                    <li><a href="/station/add">Állomás létrehozása</a></li>
                    <li><a href="/station">Állomások</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Other option</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</body>
</html>