<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> </head>
<body>
    <div class="container">
        <div th:replace="fragments/custom_navbar :: custom_navbar"></div>

        <!--CONTENT-->
        <div class="col-lg 12">
            <div>
                <h1 class="header"><strong>Magyar Vöröskereszt</strong></h1>
                <div class="panel panel-info">
                    <div class="panel-heading">Történet</div>
                    <div class="panel-body">
                        A Magyar Vöröskereszt 1881-ben jött létre. Megalakulását a Vöröskereszt Nemzetközi Bizottsága 1882. évben ismerte el. A Magyar Vöröskereszt 1921-től tagja a Vöröskereszt és Vörösfélhold Társaságok Nemzetközi Szövetségének.
                        Tevékenységét a „Háború áldozatainak védelmét szolgáló” négy Genfi Egyezmény, valamint ezek kiegészítő jegyzőkönyvei alapján végzi, amely egyezményeknek a Magyar Köztársaság jelenleg is részes állama, figyelembe veszi a Nemzetközi Vöröskereszt és Vörösfélhold mozgalom alapszabályát. Együttműködik a Vöröskereszt Nemzetközi Bizottságával, támogatja a nemzetközi humanitárius jog fejlesztését és ismertetését.
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Fő célkitűzések</div>
                    <div class="panel-body">
                        <ul>
                            <li>Az élet, az egészség védelme</li>
                            <li>Az emberi személyiség tiszteletben tartása</li>
                            <li>Az emberi szenvedés, szociális gondok enyhítése</li>
                            <li>A betegségek megelőzése</li>
                            <li>A fegyveres konfliktusok, katasztrófák áldozatainak megsegítése</li>
                            <li>A Genfi Egyezményekből adódó feladatokban való közreműködés</li>
                            <li>A nemzetközi humanitárius jog, a Vöröskereszt alapelveinek terjesztése</li>
                            <li>A társadalmi szolidaritásra nevelés</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>